@media (max-width: 768px){
    /*576px*/
    .container-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 10% 80% 10%;
        grid-template-areas: "header" "main" "footer";
    }
    .seccionMasVendido1 {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;}
    .div-masvendidos{
        height: 50vh;
        width: 100%;
    }
    .div-masvendidos{
        order: 2;
        
    }
    .imgpage2{
        order: 1;
        width: 100%;
        display: flex;
        justify-content: center;
        padding-right: 7%;
    }
    .h2MasVendidos1{
        padding: 0;
        margin: 0;
        text-align: start;
        margin-left: 15px;
        margin-top: 15px;
        padding-bottom: 10px;
        font-size: 15px;
        text-align: center;
    }
    .p1-page2{
        padding: 0;
        margin: 0;
        margin-left: 15px;
        margin-top: 10px;
        font-size: 20px;
        text-align: center;
    }
    .h3cloud{
        padding: 0;
        margin: 0;
        margin-top: 15px;
        font-size: 15px;
        text-align: center;
    }
    .boton{
        margin: 0;
        margin-left: 7px;
        display: flex;
        justify-content: center;
    }
    .boton-clase{
        margin: 0;
        padding: 0;
        margin-left: 2px;
        margin-top: 30px;
        width: 125px;
        height: 35px;
        font-size: 28px;
    }
    .containerImgPage2{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .h2MasVendidos2{
        padding: 0;
        margin: 0;
        margin-top: 35px;
        margin-bottom: 20px;
        font-size: 15px;
    }
    .p2-page2{
        font-size: 20px;
        width: 100%;
        margin-bottom: 25px;
    }
    .h3a-page2{
        font-size: 15px;
        margin-bottom: 20px;
    }
    .boton2{
        margin-top: 2px;
        margin-left: 0;
        display: flex;
        justify-content: center;
    }
    .containerArticle2Page2{
        margin-right: 7px;
    }
    .img-section1-page2{
        width: 60%;
    }
    .img2-section1-page2{
        width: 60%;
        padding-left: 7%;
    }
    .container-masvendidos{
        width: 100%;
    }
    .seccionMasVendido2{
        flex-direction: column;
        margin-bottom: 21%;
        margin-top: 10%;
        .h2MasVendidos2, .p2-page2, .h3a-page2{
            text-align: center;
        }
    }
       
}
 