@media (max-width:320px){
    header ul {
        font-size: 28px;}
    .containerCard {
            flex-direction: column;}
    .imgpage1index,.imgpage2index,.imgpage3index{
            margin-left: 23%;}
    .containerfooter{
        flex-direction: column;}
    .footerHyperx {
        justify-content: center;}
    .footerH2 {
        margin-left: 0px;}
    .redes {
        width: 100%;}
}